<div role="navigation" class="c-navigation utility-nav--container">
  <div id="utilityNav" class="utility-nav wrapper">
    <div class="container">
      <div class="grid">
        <div class="col--6 display--flex">
          <a
            href="javascript:void(0)"
            onclick="return false;"
            class="language-selector color--white"
            ><img
              src="https://storage.googleapis.com/cdn1.papercut.com/web/img/icon/mono-bold/negative/location.svg"
              class="display--inline-block icon--xs margin--right--xxxs" />
            <span class="display--inline-block margin--top--none type--small"
              >Global (English)</span
            ></a
          >
        </div>
        <div class="col--6">
          <div data-v-5f891c86="" class="loaded">
            <div data-v-5f891c86="" class="input-group margin--top--x">
              <div
                data-v-4650d469=""
                data-v-5f891c86=""
                class="input--small input input--select">
                <!---->
                <div data-v-4650d469="" class="field">
                  <input
                    data-v-4650d469=""
                    type="text"
                    tabindex="0"
                    placeholder="Start typing..."
                    class="filter" />
                  <div data-v-4650d469="" class="value">
                    <span data-v-4650d469="" class="color--white bg--none"
                      >Log in</span
                    >
                    <img
                      data-v-4650d469=""
                      src="https://cdn1.papercut.com/web/img/icon/mono-bold/negative/fat-triangle.svg"
                      alt="Dropdown icon"
                      class="triangle" />
                  </div>
                  <!---->
                </div>
                <label data-v-4650d469="" class="response"
                  ><img
                    data-v-4650d469=""
                    src="https://cdn.papercut.com/web/img/icon/mono-bold/negative/danger.svg"
                    class="display--none" />
                  <span data-v-4650d469=""></span
                ></label>
                <input
                  data-v-4650d469=""
                  type="text"
                  name="customerLogin"
                  tabindex="-1"
                  class="dom-input" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mega-menu page-header mega-menu" data-swiftype-index="false">
  <div class="wrapper">
    <div class="container">
      <a class="hamburger"
        ><svg viewBox="0 0 48 48" width="24" height="24">
          <rect x="0" y="0" width="48" height="8" rx="4" ry="4"></rect>
          <rect x="0" y="20" width="48" height="8" rx="4" ry="4"></rect>
          <rect x="0" y="40" width="48" height="8" rx="4" ry="4"></rect></svg
      ></a>
      <a href="https://www.papercut.com/" class="logo"
        ><img
          src="https://cdn.papercut.com/web/img/logo.png"
          srcset="https://cdn.papercut.com/web/img/logo@2x.png"
          alt="PaperCut logo"
      /></a>
      <nav>
        <ul>
          <li>
            <button data-menu="products" type="button" class="menu-item">
              Products
            </button>
          </li>
          <li>
            <a
              data-menu="industry"
              type="button"
              href="https://www.papercut.com/industry/"
              class="menu-item"
              >Industry</a
            >
          </li>
          <li>
            <button data-menu="discover" type="button" class="menu-item">
              Discover
            </button>
          </li>
          <li>
            <a href="https://www.papercut.com/support/" class="menu-item active"
              >Support</a
            >
          </li>
          <li>
            <button
              data-menu="about"
              href="https://www.papercut.com/about/"
              type="button"
              class="menu-item">
              About
            </button>
          </li>
          <li>
            <button data-menu="partners" type="button" class="menu-item">
              Partners
            </button>
          </li>
        </ul>
      </nav>
      <form
        action="https://www.papercut.com/search/"
        method="GET"
        class="search">
        <input id="search" type="text" name="q" placeholder="Search" />
        <a class="submit"
          ><svg viewBox="0 0 60 60" width="24" height="24">
            <title>Search icon</title>
            <path
              d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23 s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92 c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17 s-17-7.626-17-17S14.61,6,23.984,6z"></path></svg
        ></a>
      </form>
    </div>
  </div>
  <div class="mega" style="height: 0px">
    <div data-menu="products" class="menu">
      <div
        class="highlight padding--horizontal--xxl padding--vertical--xxxl bg--secondary-green-050 type--align-center border--right--s">
        <img
          src="https://cdn.papercut.com/web/img/header/nav--compare-products@2x.png"
          alt="Stacking different blocks for comparison"
          class="padding--horizontal--xl" />
        <h5 class="margin--top--l">Which one's right for you?</h5>
        <p>Let's help you find the right product.</p>
        <a href="https://www.papercut.com/products/" class="button"
          >START HERE</a
        >
      </div>
      <div class="content">
        <div class="grid no-gutter border--right--s">
          <div class="col--6 padding--m padding--bottom--l border--right--s">
            <div
              class="position--relative bg--primary-core-050 border--radius--xl">
              <img
                src="https://cdn.papercut.com/web/img/header/nav--portal@2x.png"
                alt="PaperCut product rocketship"
                class="icon--xxxxxl layout--align-center padding--top--xxs"
                style="transform: translateY(8px)" />
            </div>
            <h5 class="margin--top--m">Our products</h5>
            <ul class="list">
              <li class="margin--top--xs">
                <a
                  href="https://www.papercut.com/products/"
                  class="display--flex"
                  ><span
                    class="display--block icon--l margin--right--xs margin--top--xxs"
                    ><img
                      src="https://cdn.papercut.com/web/img/icon/duo-light/positive/discover-search-heart.svg"
                      alt="Discover search heart"
                      class="icon--l"
                  /></span>
                  <span lass="display--inline-block"
                    ><p class="type--subhead1 margin--top--none">Overview</p>
                    <p
                      class="color--primary-grey-600 margin--top--none"
                      style="font-size: 12px">
                      See all products at a glance
                    </p></span
                  ></a
                >
              </li>
              <li class="margin--top--xs">
                <a
                  href="https://www.papercut.com/products/ng/"
                  class="display--flex"
                  ><span
                    class="display--block icon--l margin--right--xs margin--top--xxs"
                    ><img
                      src="https://cdn.papercut.com/web/img/products/ng/ng--badge-icon.svg"
                      alt="PaperCut NG product badge"
                      class="icon--l"
                  /></span>
                  <span lass="display--inline-block"
                    ><p class="type--subhead1 margin--top--none">PaperCut NG</p>
                    <p
                      class="color--primary-grey-600 margin--top--none"
                      style="font-size: 12px">
                      DIY print management for everyone
                    </p></span
                  ></a
                >
              </li>
              <li class="margin--top--xs">
                <a
                  href="https://www.papercut.com/products/mf/"
                  class="display--flex"
                  ><span
                    class="display--block icon--l margin--right--xs margin--top--xxs"
                    ><img
                      src="https://cdn.papercut.com/web/img/products/mf/mf--badge-icon.svg"
                      alt="PaperCut MF product badge"
                      class="icon--l"
                  /></span>
                  <span lass="display--inline-block"
                    ><p class="type--subhead1 margin--top--none">PaperCut MF</p>
                    <p
                      class="color--primary-grey-600 margin--top--none"
                      style="font-size: 12px">
                      Powerful print management for printers and MFDs
                    </p></span
                  ></a
                >
              </li>
              <li class="margin--top--xs">
                <a
                  href="https://www.papercut.com/products/papercut-pocket/"
                  class="display--flex"
                  ><span
                    class="display--block icon--l margin--right--xs margin--top--xxs"
                    ><img
                      src="https://cdn.papercut.com/web/img/products/papercut-pocket/pocket--badge-icon.svg"
                      alt="PaperCut Pocket product badge"
                      class="icon--l"
                  /></span>
                  <span lass="display--inline-block"
                    ><p class="type--subhead1 margin--top--none">
                      PaperCut Pocket
                    </p>
                    <p
                      class="color--primary-grey-600 margin--top--none"
                      style="font-size: 12px">
                      Print management for small businesses in the cloud
                    </p></span
                  ></a
                >
              </li>
              <li class="margin--top--xs">
                <a
                  href="https://www.papercut.com/products/papercut-hive/"
                  class="display--flex"
                  ><span
                    class="display--block icon--l margin--right--xs margin--top--xxs"
                    ><img
                      src="https://cdn.papercut.com/web/img/products/hive/badge.svg"
                      alt="PaperCut Hive product badge"
                      class="icon--l"
                  /></span>
                  <span lass="display--inline-block"
                    ><p class="type--subhead1 margin--top--none">
                      PaperCut Hive
                    </p>
                    <p
                      class="color--primary-grey-600 margin--top--none"
                      style="font-size: 12px">
                      Complete cloud-native print management for business
                    </p></span
                  ></a
                >
              </li>
              <li class="margin--top--m">
                <a
                  href="https://www.papercut.com/products/#features"
                  class="button--anchor"
                  >Compare features</a
                >
              </li>
            </ul>
          </div>
          <div class="col--6 padding--m padding--bottom--l">
            <div
              class="position--relative bg--primary-core-050 border--radius--xl">
              <img
                src="https://cdn.papercut.com/web/img/products/ng/extra--third-party-illo.png"
                alt="PaperCut third party extras"
                class="icon--xxxxxl layout--align-center padding--top--xxs"
                style="transform: translateY(8px)" />
            </div>
            <h5 class="margin--top--m">Free tools</h5>
            <ul class="list">
              <li>
                <a
                  href="https://www.papercut.com/products/free-software/mobility-print/"
                  ><span class="display--block"
                    ><p class="type--subhead2">PaperCut Mobility Print</p>
                    <p
                      class="color--primary-grey-600 margin--top--none"
                      style="font-size: 12px">
                      A free Google Cloud Print alternative
                    </p></span
                  ></a
                >
              </li>
              <li>
                <a href="https://qrdoc.io/"
                  ><span class="display--block"
                    ><p class="type--subhead2">PaperCut QRdoc</p>
                    <p
                      class="color--primary-grey-600 margin--top--none"
                      style="font-size: 12px">
                      The power of digital documents – on paper
                    </p></span
                  ></a
                >
              </li>
              <li>
                <a href="https://www.papercut.com/products/views/"
                  ><span class="display--block"
                    ><p class="type--subhead2">PaperCut Views</p>
                    <p
                      class="color--primary-grey-600 margin--top--none"
                      style="font-size: 12px">
                      Real-time print analytics, insights and forecasts
                    </p></span
                  ></a
                >
              </li>
            </ul>
            <h5 class="margin--top--m">Want to do more?</h5>
            <ul class="list">
              <li>
                <a href="https://www.papercut.com/products/do-more/print-rooms/"
                  >Print Rooms</a
                >
              </li>
              <li>
                <a href="https://www.papercut.com/products/do-more/3d-printing/"
                  >3D Printing</a
                >
              </li>
              <li>
                <a
                  href="https://www.papercut.com/products/do-more/print-deploy/"
                  >Print Deploy</a
                >
              </li>
              <li>
                <a
                  href="https://www.papercut.com/products/do-more/universal-print/"
                  >Microsoft Universal Print</a
                >
              </li>
            </ul>
            <h5 class="margin--top--m">Beta</h5>
            <ul class="list">
              <li>
                <a href="https://www.papercut.com/products/percolator/"
                  >In the percolator</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div data-menu="industry" class="menu">
      <div class="content">
        <div class="grid no-gutter border--right--s">
          <div
            class="col--4 position--relative padding--m padding--bottom--l border--right--s"
            style="min-height: 560px">
            <div
              class="position--relative bg--primary-core-050 border--radius--xl">
              <img
                src="https://cdn.papercut.com/web/img/header/nav--education@2x.png"
                alt="PaperCut for the Education industry"
                class="icon--xxxxl layout--align-center padding--top--xxs"
                style="transform: translateY(8px)" />
            </div>
            <h5 class="margin--top--m">Education</h5>
            <ul class="list">
              <li>
                <a href="https://www.papercut.com/industry/education/"
                  >Education overview</a
                >
              </li>
              <li>
                <a href="https://www.papercut.com/industry/education/k-12/"
                  >High school / K-12</a
                >
              </li>
              <li>
                <a
                  href="https://www.papercut.com/industry/education/higher-education/"
                  >Higher education</a
                >
              </li>
            </ul>
          </div>
          <div class="col--4 padding--m padding--bottom--l border--right--s">
            <div
              class="position--relative bg--primary-core-050 border--radius--xl">
              <img
                src="https://cdn.papercut.com/web/img/header/nav--business@2x.png"
                alt="PaperCut for Business"
                class="icon--xxxxl layout--align-center padding--top--xxs"
                style="transform: translateY(8px)" />
            </div>
            <h5 class="margin--top--m">Business</h5>
            <ul class="list">
              <li>
                <a href="https://www.papercut.com/industry/co-working/"
                  >Co-working</a
                >
              </li>
              <li>
                <a href="https://www.papercut.com/industry/life-sciences/"
                  >Life sciences</a
                >
              </li>
              <li>
                <a href="https://www.papercut.com/industry/legal/">Legal</a>
              </li>
              <li>
                <a href="https://www.papercut.com/industry/smb/"
                  >Small to medium businesses</a
                >
              </li>
              <li>
                <a href="https://www.papercut.com/industry/large-enterprise/"
                  >Large enterprise</a
                >
              </li>
            </ul>
          </div>
          <div class="col--4 padding--m padding--bottom--l">
            <div
              class="position--relative bg--primary-core-050 border--radius--xl">
              <img
                src="https://cdn.papercut.com/web/img/header/nav--public-service@2x.png"
                alt="PaperCut for Public Services"
                class="icon--xxxxl layout--align-center padding--top--xxs"
                style="transform: translateY(8px)" />
            </div>
            <h5 class="margin--top--m">Public Service</h5>
            <ul class="list">
              <li>
                <a href="https://www.papercut.com/industry/healthcare/"
                  >Healthcare</a
                >
              </li>
              <li>
                <a href="https://www.papercut.com/industry/local-government/"
                  >Local government</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="highlight padding--xxxl bg--secondary-green-050 type--align-center">
        <img
          src="https://cdn.papercut.com/web/img/header/nav--happy-users@1x.png"
          alt="Happy users dancing around a printer" />
        <h5 class="margin--top--l">Over 100 million users!</h5>
        <p>
          Spanning multiple industries and more than 195 countries, all kinds of
          customers use PaperCut to track &amp; manage their printing — and they
          couldn't be happier.
        </p>
        <a href="https://www.papercut.com/customer-stories/" class="button"
          >CUSTOMER STORIES</a
        >
      </div>
    </div>
    <div data-menu="discover" class="menu">
      <div
        class="highlight padding--xxxl bg--secondary-green-050 type--align-center border--right--s">
        <img
          src="https://cdn.papercut.com/web/img/discover/discover--hero.png"
          alt="PaperCut Discover section swiss army knife"
          class="padding--horizontal--xs" />
        <h5 class="margin--top--l">Discover everything that we do</h5>
        <p>
          From simply tracking and monitoring of print jobs, to integrating BYOD
          printing or advanced custom job management, PaperCut does it all.
        </p>
        <a href="https://www.papercut.com/discover/" class="button"
          >GET STARTED</a
        >
      </div>
      <div class="content">
        <div class="grid no-gutter border--right--s">
          <div class="col--6 padding--m padding--bottom--l border--right--s">
            <div
              class="position--relative bg--primary-core-050 border--radius--xl">
              <img
                src="https://cdn.papercut.com/web/img/header/illo-pie.png"
                alt="Collaboration and ideas"
                class="icon--xxxxxxl layout--align-center padding--top--xxs"
                style="transform: translateY(8px)" />
            </div>
            <h5 class="margin--top--m">Everything we do</h5>
            <ul class="list">
              <li><a href="https://www.papercut.com/discover/">Overview</a></li>
              <li>
                <a href="https://www.papercut.com/discover/easy-printing/"
                  >Easy printing</a
                >
              </li>
              <li>
                <a href="https://www.papercut.com/discover/print-security/"
                  >Print security</a
                >
              </li>
              <li>
                <a href="https://www.papercut.com/discover/cloud-and-print/"
                  >Cloud and print</a
                >
              </li>
              <li>
                <a href="https://www.papercut.com/discover/waste-control/"
                  >Waste control</a
                >
              </li>
              <li>
                <a
                  href="https://www.papercut.com/discover/easy-scanning-and-capture/"
                  >Easy scanning &amp; capture</a
                >
              </li>
              <li>
                <a href="https://www.papercut.com/discover/guided-3d-printing/"
                  >Guided 3D printing</a
                >
              </li>
              <li>
                <a
                  href="https://www.papercut.com/discover/print-room-workflows/"
                  >Print room workflows</a
                >
              </li>
              <li>
                <a
                  href="https://www.papercut.com/discover/integrations-and-customizations/"
                  >Integrations &amp; customizations</a
                >
              </li>
              <li>
                <a href="https://www.papercut.com/discover/best-practices/"
                  >Best practices</a
                >
              </li>
              <li>
                <a
                  href="https://www.papercut.com/discover/products-at-a-glance/"
                  >Products at a glance</a
                >
              </li>
            </ul>
          </div>
          <div class="col--6 padding--m padding--bottom--l">
            <div
              class="position--relative bg--primary-core-050 border--radius--xl">
              <img
                src="https://cdn.papercut.com/web/img/header/nav--feature-highlights@2x.png"
                alt="Lightbulb idea"
                class="icon--xxxxxxl layout--align-center padding--top--xxs"
                style="transform: translateY(8px)" />
            </div>
            <h5 class="margin--top--m">Feature Highlights</h5>
            <div class="vertical-group margin--top--xxs">
              <a
                href="https://www.papercut.com/discover/easy-printing/find-me-printing/"
                class="hover-button border--s padding--left--xxl"
                ><span
                  class="position--center-left color--primary-grey-300 type--h3 margin--left--s"
                  >1</span
                >
                <strong>Find-Me printing</strong><br />Print to one queue, pick
                up from any printer
              </a>
              <a
                href="https://www.papercut.com/discover/integrations-and-customizations/advanced-scripting-and-apis/"
                class="hover-button border--horizontal--s padding--left--xxl"
                ><span
                  class="position--center-left color--primary-grey-300 type--h3 margin--left--s"
                  >2</span
                >
                <strong>Print scripting &amp; APIs</strong><br />Customize your
                print environment to work the way you want it to
              </a>
              <a
                href="https://www.papercut.com/discover/easy-scanning-and-capture/scanning-ocr-simple/"
                class="hover-button border--s padding--left--xxl"
                ><span
                  class="position--center-left color--primary-grey-300 type--h3 margin--left--s"
                  >3</span
                >
                <strong>Integrated scanning</strong><br />Make day-to-day
                scanning &amp; OCR as simple as one click
              </a>
            </div>
            <p class="type--align-right type--small margin--top--s">
              <a
                href="https://www.papercut.com/discover/"
                class="button--anchor"
                >Discover what we do</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div data-menu="about" class="menu">
      <div
        class="highlight padding--xxxl bg--secondary-green-050 type--align-center border--right--s">
        <img
          src="https://cdn.papercut.com/web/img/header/nav--support.png"
          alt="Chatting over coffee"
          class="layout--align-center" />
        <h5 class="margin--top--l">We're always up for a chat!</h5>
        <p>The global team, here to help.</p>
        <a href="https://www.papercut.com/contact/" class="button"
          >GET IN TOUCH</a
        >
      </div>
      <div class="content">
        <div class="grid no-gutter border--right--s">
          <div class="col--4 padding--m padding--bottom--xxl border--right--s">
            <div
              class="position--relative bg--primary-core-050 border--radius--xl">
              <img
                src="https://cdn.papercut.com/web/img/header/illo-pocket.png"
                alt="Building products"
                class="icon--xxxxl layout--align-center padding--top--xxs"
                style="transform: translateY(8px)" />
            </div>
            <h5 class="margin--top--m">About</h5>
            <ul class="list">
              <li><a href="https://www.papercut.com/about/">About us</a></li>
              <li>
                <a href="https://www.papercut.com/about/life-at-papercut/"
                  >Careers <span class="waving-hand">👋</span></a
                >
              </li>
              <li>
                <a href="https://www.papercut.com/about/team/">Meet the team</a>
              </li>
              <li>
                <a href="https://www.papercut.com/contact/">Contact us</a>
              </li>
            </ul>
          </div>
          <div class="col--4 padding--m padding--bottom--xxl border--right--s">
            <div
              class="position--relative bg--primary-core-050 border--radius--xl">
              <img
                src="https://cdn.papercut.com/web/img/header/illo-percolator.png"
                alt="Working over coffee"
                class="icon--xxxxl layout--align-center padding--top--xxs"
                style="transform: translateY(8px)" />
            </div>
            <h5 class="margin--top--m">Blog</h5>
            <ul class="list">
              <li class="margin--bottom--xxs">
                <a href="https://www.papercut.com/blog">Latest articles</a>
              </li>
              <li><p class="type--subhead2">Topics</p></li>
              <li>
                <ul class="margin--top--xxs">
                  <li class="blog">
                    <a href="https://www.papercut.com/blog/your-workplace/"
                      >Your workplace</a
                    >
                  </li>
                  <li class="blog">
                    <a href="https://www.papercut.com/blog/things-we-make/"
                      >Things we make</a
                    >
                  </li>
                  <li class="blog">
                    <a href="https://www.papercut.com/blog/trends/">Trends</a>
                  </li>
                  <li class="blog">
                    <a href="https://www.papercut.com/blog/tech-and-dev/"
                      >Tech &amp; Dev</a
                    >
                  </li>
                  <li class="blog">
                    <a href="https://www.papercut.com/blog/inside-papercut/"
                      >Inside PaperCut</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div
            class="col--4 padding--m padding--bottom--xxl"
            style="min-height: 480px">
            <div
              class="position--relative bg--primary-core-050 border--radius--xl">
              <img
                src="https://cdn.papercut.com/web/img/header/illo-ng.png"
                alt="Creating growth with PaperCut products"
                class="icon--xxxxl layout--align-center padding--top--xxs"
                style="transform: translateY(8px)" />
            </div>
            <h5 class="margin--top--m">Stories</h5>
            <ul class="list">
              <li>
                <a href="https://www.papercut.com/testimonials/"
                  >Testimonials</a
                >
              </li>
              <li>
                <a href="https://www.papercut.com/customer-stories/"
                  >Customer stories</a
                >
              </li>
              <li>
                <a
                  href="https://www.papercut.com/about/beyond-the-product/printing-in-2020-and-beyond/"
                  >Printing in 2020 and beyond</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div data-menu="partners" class="menu">
      <div class="content">
        <div class="grid no-gutter border--right--s">
          <div class="col--6 padding--xxl padding--right--none">
            <img
              src="https://cdn.papercut.com/web/img/header/reseller--logo.svg"
              alt="PaperCut Reseller logo"
              class="icon--xxxl" />
            <h5 class="margin--top--xxl">Become a PaperCut Partner</h5>
            <p>
              With support, training &amp; certification, and marketing
              materials, we give you the tools to support your customers and
              drive your business.
            </p>
            <a href="https://www.papercut.com/resellers/" class="button"
              >FIND OUT HOW</a
            >
          </div>
          <div class="col--6 position--relative">
            <img
              src="https://cdn.papercut.com/web/img/header/nav--partners@2x.png"
              alt="PaperCut Partners"
              class="position--center pull--left--xxl" />
          </div>
        </div>
      </div>
      <div
        class="highlight padding--xxl bg--secondary-green-050 type--align-center">
        <img
          src="https://cdn.papercut.com/web/img/portal/logo-new@2x.png"
          alt="PaperCut Partner Portal logo"
          class="icon--xxxl layout--align-center" />
        <img
          src="https://cdn.papercut.com/web/img/header/nav--portal@2x.png"
          alt="PaperCut product rocketship"
          class="layout--align-center margin--top--s padding--horizontal--xxl" />
        <a href="https://portal.papercut.com/" class="button">LOG IN</a>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
  <div class="mobile">
    <div class="overlay"></div>
    <nav class="main-nav">
      <a
        href="https://www.papercut.com/"
        aria-label="PaperCut Logo"
        class="logo"
        ><img
          src="https://cdn.papercut.com/web/img/logo.png"
          srcset="https://cdn.papercut.com/web/img/logo@2x.png"
          alt=""
      /></a>
      <a class="close"
        ><img
          src="https://cdn.papercut.com/web/img/icon/mono-regular/positive/close.svg"
          alt=""
      /></a>
      <ul>
        <li class="sub"><button>Products</button></li>
        <li class="sub"><button>Industry</button></li>
        <li class="sub"><button>Discover</button></li>
        <li><a href="https://www.papercut.com/support/">Support</a></li>
        <li class="sub"><button>About</button></li>
        <li class="sub"><button>Partners</button></li>
      </ul>
    </nav>
    <nav class="sub-nav">
      <a class="back">Main menu</a>
      <nav data-nav="products" class="nav">
        <ul>
          <li class="title"><a>Products</a></li>
          <li class="link">
            <a href="https://www.papercut.com/products/"
              >Which one's right for you?</a
            >
          </li>
          <li class="link">
            <a href="https://www.papercut.com/products/ng/">PaperCut NG</a>
          </li>
          <li class="link">
            <a href="https://www.papercut.com/products/mf/">PaperCut MF</a>
          </li>
          <li class="link">
            <a href="https://www.papercut.com/products/papercut-pocket/"
              >PaperCut Pocket</a
            >
          </li>
          <li class="link">
            <a href="https://www.papercut.com/products/papercut-hive/"
              >PaperCut Hive</a
            >
          </li>
          <li class="link">
            <a href="https://www.papercut.com/products/"
              >Compare all products</a
            >
          </li>
          <li class="section"><a>Want to do more?</a></li>
          <li class="link">
            <a href="https://www.papercut.com/products/do-more/print-rooms/"
              >Print Rooms</a
            >
          </li>
          <li class="link">
            <a href="https://www.papercut.com/products/do-more/3d-printing/"
              >3D Printing</a
            >
          </li>
          <li class="link">
            <a href="https://www.papercut.com/products/do-more/print-deploy/"
              >Print Deploy</a
            >
          </li>
          <li class="link">
            <a href="https://www.papercut.com/products/do-more/universal-print/"
              >Microsoft Universal Print</a
            >
          </li>
          <li class="link">
            <a href="https://www.papercut.com/products/percolator/"
              >The Percolator <sup>[BETA]</sup></a
            >
          </li>
          <li class="section"><a>Free tools</a></li>
          <li class="link">
            <a
              href="https://www.papercut.com/products/free-software/mobility-print/"
              >PaperCut Mobility Print</a
            >
          </li>
          <li class="link"><a href="https://qrdoc.io/">PaperCut QRdoc</a></li>
          <li class="link">
            <a href="https://www.papercut.com/products/views/"
              >PaperCut Views</a
            >
          </li>
        </ul>
      </nav>
      <nav data-nav="industry" class="nav">
        <ul>
          <li class="title"><a>Industry</a></li>
          <li class="section"><a>Education</a></li>
          <li class="link">
            <a href="https://www.papercut.com/industry/education/"
              >Education overview</a
            >
          </li>
          <li class="link">
            <a href="https://www.papercut.com/industry/education/k-12/"
              >High school / K-12</a
            >
          </li>
          <li class="link">
            <a
              href="https://www.papercut.com/industry/education/higher-education/"
              >Higher education</a
            >
          </li>
          <li class="section"><a>Business</a></li>
          <li class="link">
            <a href="https://www.papercut.com/industry/co-working/"
              >Co-working</a
            >
          </li>
          <li class="link">
            <a href="https://www.papercut.com/industry/life-sciences/"
              >Life sciences</a
            >
          </li>
          <li class="link">
            <a href="https://www.papercut.com/industry/legal/">Legal</a>
          </li>
          <li class="link">
            <a href="https://www.papercut.com/industry/smb/"
              >Small to medium business</a
            >
          </li>
          <li class="link">
            <a href="https://www.papercut.com/industry/large-enterprise/"
              >Large enterprise</a
            >
          </li>
          <li class="section"><a>Public Service</a></li>
          <li class="link">
            <a href="https://www.papercut.com/industry/healthcare/"
              >Healthcare</a
            >
          </li>
        </ul>
      </nav>
      <nav data-nav="discover" class="nav">
        <ul>
          <li class="title"><a>Discover</a></li>
          <li class="link">
            <a href="https://www.papercut.com/discover/">Get started</a>
          </li>
          <li class="section"><a>Everything we do</a></li>
          <li class="link">
            <a href="https://www.papercut.com/discover/easy-printing/"
              >Easy printing</a
            >
          </li>
          <li class="link">
            <a href="https://www.papercut.com/discover/print-security/"
              >Print security</a
            >
          </li>
          <li class="link">
            <a href="https://www.papercut.com/discover/waste-control/"
              >Waste control</a
            >
          </li>
          <li class="link">
            <a
              href="https://www.papercut.com/discover/easy-scanning-and-capture/"
              >Easy scanning &amp; capture</a
            >
          </li>
          <li class="link">
            <a href="https://www.papercut.com/discover/guided-3d-printing/"
              >Guided 3D printing</a
            >
          </li>
          <li class="link">
            <a href="https://www.papercut.com/discover/print-room-workflows/"
              >Print room workflows</a
            >
          </li>
          <li class="link">
            <a
              href="https://www.papercut.com/discover/integrations-and-customizations/"
              >Integrations &amp; customizations</a
            >
          </li>
          <li class="link">
            <a href="https://www.papercut.com/discover/best-practices/"
              >Best practices</a
            >
          </li>
          <li class="link">
            <a href="https://www.papercut.com/discover/products-at-a-glance/"
              >Products at a glance</a
            >
          </li>
          <li class="section"><a>Feature highlights</a></li>
          <li class="link">
            <a
              href="https://www.papercut.com/discover/easy-printing/find-me-printing/"
              >Find-Me printing</a
            >
          </li>
          <li class="link">
            <a
              href="https://www.papercut.com/discover/integrations-and-customizations/advanced-scripting-and-apis/"
              >Print scripting &amp; APIs</a
            >
          </li>
          <li class="link">
            <a
              href="https://www.papercut.com/discover/easy-scanning-and-capture/scanning-ocr-simple/"
              >Integrated scanning</a
            >
          </li>
        </ul>
      </nav>
      <nav data-nav="about" class="nav">
        <ul>
          <li class="title"><a>About</a></li>
          <li class="link">
            <a href="https://www.papercut.com/about/">About us</a>
          </li>
          <li class="link">
            <a href="https://www.papercut.com/about/life-at-papercut/"
              >Careers</a
            >
          </li>
          <li class="link">
            <a href="https://www.papercut.com/about/team/">Meet the team</a>
          </li>
          <li class="link">
            <a href="https://www.papercut.com/contact/">Contact us</a>
          </li>
          <li class="section"><a>Blog</a></li>
          <li class="link">
            <a href="https://www.papercut.com/blog/">Latest</a>
          </li>
          <li class="link">
            <a href="https://www.papercut.com/blog/your-workplace/"
              >Your workplace</a
            >
          </li>
          <li class="link">
            <a href="https://www.papercut.com/blog/things-we-make/"
              >Things we make</a
            >
          </li>
          <li class="link">
            <a href="https://www.papercut.com/blog/trends/">Trends</a>
          </li>
          <li class="link">
            <a href="https://www.papercut.com/blog/tech-and-dev/"
              >Tech &amp; Dev</a
            >
          </li>
          <li class="link">
            <a href="https://www.papercut.com/blog/inside-papercut/"
              >Inside PaperCut</a
            >
          </li>
          <li class="section"><a>Stories</a></li>
          <li class="link">
            <a href="https://www.papercut.com/testimonials/">Testimonials</a>
          </li>
          <li class="link">
            <a href="https://www.papercut.com/customer-stories/"
              >Customer stories</a
            >
          </li>
          <li class="link">
            <a
              href="https://www.papercut.com/about/beyond-the-product/printing-in-2020-and-beyond/"
              >Printing in 2020 and beyond</a
            >
          </li>
        </ul>
      </nav>
      <nav data-nav="partners" class="nav">
        <ul>
          <li class="title"><a>Partners</a></li>
          <li class="link">
            <a href="https://www.papercut.com/resellers/">Become a partner</a>
          </li>
          <li class="link">
            <a href="https://portal.papercut.com/">PaperCut Portal login</a>
          </li>
        </ul>
      </nav>
    </nav>
  </div>
</div>
