body {
	// Colours
	// --bg-colour-main: #FFFFFF;
	// --bg-colour-var-1: #F1F3F5;
	// --bg-colour-var-2: #19892B;
	// --bg-colour-var-3: #3B3B3D;

	// --text-colour-var-1: #3B3B3D;
	// --text-colour-var-2: #343A40;
	// --text-colour-var-3: #26A726;
	// --text-colour-var-4: #2B5E8F;
	// --text-colour-var-5: #FFFFFF;
	

	// Component Padding
	--c-padding: 96px 65px 72px 65px;

	// Text
	--line-height: 150%;

	--h1-size: 5.6em;
	--h2-size: 3.2em;

	--h1-weight: 700;
	--h2-weight: 600;

	--font-bold: 700;
	--font-semibold: 600;
	--font-normal: 400;

	--text-2xl: 1.5rem;
	--text-3xl: 2rem;
	--text-base: 1rem;
	
	--leading-2xl: 2rem;
	--leading-3xl: 2.5rem;
	--leading-base: 1.5rem;

	--max-width: 1280px;
}